* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background-color: #EDE7F6; /* Fondo claro */
}

header {
    grid-area: header;
    background-color: hsl(271, 100%, 28%); /* Morado oscuro */
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: hsl(271, 54%, 53%); /* Morado medio */
    padding: 1em;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: hsl(287, 100%, 35%); /* Morado claro al pasar el mouse */
}

main {
    grid-area: main;
    padding: 1em;
    background-color: #D1C4E9; /* Morado suave */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

section {
    background-color: white;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.biografia-img {
    width: 100%; /* Ajustar la imagen al 100% */
    height: auto;
    border-radius: 5px;
    margin-bottom: 1em;
}

footer {
    grid-area: footer;
    background-color: hsl(271, 100%, 28%); /* Morado oscuro */
    color: white;
    text-align: center;
    padding: 1em;
}
